<div>
  <h2 id="page-heading" data-cy="MerchantHeading">
    <span jhiTranslate="coopcycleApp.merchant.home.title">Merchants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.merchant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-merchant"
        [routerLink]="['/merchant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.merchant.home.createLabel"> Create a new Merchant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="merchants?.length === 0">
    <span jhiTranslate="coopcycleApp.merchant.home.notFound">No merchants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="merchants && merchants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.merchant.merchantName">Merchant Name</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.merchant.address">Address</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.merchant.merchantType">Merchant Type</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.merchant.imageProfil">Image Profil</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.merchant.mobilePhone">Mobile Phone</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.merchant.user">User</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.merchant.cooperative">Cooperative</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchant of merchants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/merchant', merchant.id, 'view']">{{ merchant.id }}</a>
          </td>
          <td>{{ merchant.merchantName }}</td>
          <td>{{ merchant.address }}</td>
          <td jhiTranslate="{{ 'coopcycleApp.MerchantType.' + merchant.merchantType }}">{{ merchant.merchantType }}</td>
          <td>
            <a *ngIf="merchant.imageProfil" (click)="openFile(merchant.imageProfil, merchant.imageProfilContentType)">
              <img
                [src]="'data:' + merchant.imageProfilContentType + ';base64,' + merchant.imageProfil"
                style="max-height: 30px"
                alt="merchant image"
              />
            </a>
            <span *ngIf="merchant.imageProfil">{{ merchant.imageProfilContentType }}, {{ byteSize(merchant.imageProfil) }}</span>
          </td>
          <td>{{ merchant.mobilePhone }}</td>
          <td>
            {{ merchant.user?.login }}
          </td>
          <td>
            <div *ngIf="merchant.cooperative">
              <a [routerLink]="['/cooperative', merchant.cooperative?.id, 'view']">{{ merchant.cooperative?.cooperativeName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/merchant', merchant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/merchant', merchant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(merchant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
